* {
    box-sizing: border-box;
}

h1 {
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif; font-size: 4vw; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    border: 0;
    padding: 0;
    margin: 0;
}

label{
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif; font-size: 1.5vw;
    margin: 0 10px 10px 0;
}

select{
    margin: 0 10px 10px 0;
}

option{
    min-width: 80px;
    min-height: 40px;
}

.header {
    padding: 15px;
    margin: 5px;
}

.container {
    width: auto;
    min-width: 450px;
    min-height: 500px;
    padding: 10px 20px 0 20px;
}

.left-sub-container {
    width: 19%;
    height: 100%;
    float: left;
    padding: 1px;
    margin: 0 2px 0 0; 
    background-color: #F8F8FF;
}

.button-holder {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

.button-holder li {
    border-radius: 5px;
    width: 85%;
    margin: 0 0 5px 10px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    position: relative;
    padding: 5px;
}

.button-holder li:hover {
    background-color: #0099cc;
}

.right-sub-container {
    border-radius: 5%;
	width: 80%;
    height: 100%;
    float: left;
    padding: 0;
    background-color: #b7d7e8;
}

.left {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.right {
    width: 50%;
    padding: 50px;
    margin: 0;
    float: left;
}

.preference-box {
    min-width: 135px;
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    padding:15px;
    position: relative;;
    background-color: #4682B4;
    border-radius: 10px;
    margin-left: 10px;
}

.footer {
    width: 100%;
    padding: 15px;
    float: left;
}