<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- map -->
    <script src="javascript/map.js"></script>
    <script src="javascript/barGraph.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- css link  -->
    <link rel="stylesheet" type="text/css" href="css/d3.css"/> 
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/radiobtn.css"/> 
    <link rel="stylesheet" type="text/css" href="css/slide.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
  </head> 

  <body>
    <div class="container" id="container">
      <div id="myNav" class="overlay">
        <div id="drop" align=center></div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav')"> &times; </a>
        <div class="overlay-content" id="overlayDisplay">
        </div>
      </div>

      <div class="left-sub-container" id="left-container">

        <div class="header" style="cursor:default;" id="mh1">
          <h2 alt="Overall Ratings"> UK </br> </h2>
          <h2 style="font-size: 2.5vw;"> REGIONS </h2> 
          <h1 style="font-family: 'Trocchi', serif; font-size: 1vw;"> InfoMap </h1> 
        </div>

        <div class="buton-holder2" id="bh1">
          <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 2vw; text-align: center; margin: 0 0 10px 0;"> DashBoard </h2>
          <h3 style="text-decoration: underline;"> Best for </h3>
          <ul>
            <li>
              <input type="radio" onclick="getCustomRating(this)" id="1" value="one" name="selector">
              <label for="1"> Buying New Houses </label>
              
              <div class="check"></div>
            </li>
        
            <li>
              <input type="radio" onclick="getCustomRating(this)" id="2" value="two" name="selector">
              <label for="2"> Employment Opportunity </label>
              
              <div class="check"><div class="inside"></div></div>
            </li>
        
            <li>
              <input type="radio" onclick="getCustomRating(this)" id="3" value="three" name="selector">
              <label for="3"> Good Social Life </label>
          
              <div class="check"><div class="inside"></div></div>
            </li>

            <li>
              <input type="radio" onclick="getCustomRating(this)" id="4" value="four" name="selector">
              <label for="4"> New Business </label>
          
              <div class="check"><div class="inside"></div></div>
            </li>
          </ul>
        </div>

        <div class="header" onclick="setTopicBack(this)" style="cursor: pointer; display: none;" id="mh2">
          <h1> UK </h1>
          <h1 style="font-family: 'Trocchi', serif; font-size: 2.5vw;"> REGIONS </h1>
          <h1 style="font-family: 'Trocchi', serif; font-size: 1vw;"> InfoMap </h1> 
        </div>

        <div class="button-holder" style="display: none;" id="bh2">
          <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 2vw; text-align: center; margin: 0 0 10px 0;"> DashBoard </h2>
          <ul style="padding: 0; margin: 0;" id="btndb">
            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Education"> Education </br> 
            <i class="fa fa-book" aria-hidden="true"> </i>
            </li>

            <li onclick="changeTopic(this);" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Economy"> Economy </br> 
            <i class="fa fa-line-chart" aria-hidden="true"></i> </i> 
            </li>

            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Crime"> Crime </br> 
            <i class="fa fa-ban" aria-hidden="true"></i> 
            </li>

            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Social"> Social </br> 
            <i class="fa fa-male" aria-hidden="true"></i> <i class="fa fa-female" aria-hidden="true"></i> 
            </li>

            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Population"> Population </br> 
            <i class="fa fa-users" aria-hidden="true"></i>
            </li>

            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Employment"> Employment </br> 
            <i class="fa fa-building-o" aria-hidden="true"></i> 
            </li>

            <li onclick="changeTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Housing"> Housing </br> 
            <i class="fa fa-home" aria-hidden="true"></i> </i> 
            </li>
          </ul>
        </div>
      </div>

      <div class="right-sub-container" id="right-container">
        <div class="right-sub-container left" id="right-sub-container-left"> 
        </div>

        <div class ="right-sub-container right" id="right-sub-container-right">
          <div class="slideThree">  
            <input type="checkbox" onclick="changeMode(this)" value=true id="slideThree" name="check" checked />
            <label for="slideThree"> Mode </label>
          </div>
          
          <div class = "preference" id="pref" style="display: none;">
            <label>Your preference:</label>
            <select id="p0"  style="border: 1px solid #0000ff; height: 5px; margin: 0; visibility: hidden;">
                <option>Social</option>
                <option>Economy</option>
                <option>Education</option>
                <option>Employment</option>
                <option>Housing</option>
                <option>Population</option>
                <option>Social</option>
                <option>Crime</option>
            </select>
            <br>
            <label>Preference 1</label>
            <select id="p1"  style="border: 1px solid #0000ff;">
                <option>Social</option>
                <option>Economy</option>
                <option>Education</option>
                <option>Employment</option>
                <option>Housing</option>
                <option>Population</option>
                <option>Social</option>
                <option>Crime</option>
            </select>
            <br>
            <label>Preference 2</label>
            <select id="p2" style="border: 1px solid #0000ff;">
                <option >Economy</option>
                <option>Crime</option>
                <option>Education</option>
                <option>Employment</option>
                <option>Housing</option>
                <option>Population</option>
                <option>Social</option>
            </select>
            <br>
            <label>Preference 3</label>
            <select id="p3" style="border: 1px solid #0000ff;">
                <option >Education</option>
                <option>Crime</option>
                <option>Economy</option>
                <option>Employment</option>
                <option>Housing</option>
                <option>Population</option>
                <option>Social</option>
            </select>
            <br>
            <button id="submits" style="margin-left: 10px;" value= "submit"> Send </button>
          </div>

          <p  id="clientmsg" style="width:100%; text-align: center; font-weight: bold;"> </p>
          <div class="chart-container" id="graph" style="width: 80%; height:30%; margin-left:30%;">
          </div>
		      <p id="chartcat" style="width:100%; text-align: center;"></p>

          <div id="drop2" align=center></div>
          </div>
      </div>
    </div>

    <div class="footer">
    </div>

    <script type="text/javascript" language="javascript">
      var socket = io.connect();

      // get ragional ratings
      socket.on('renderMap', function(data2){
        //console.log("test one " + data2.Crime.London);
        data.regional = data2;
      });
    </script>
  </body>
</html>