<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    
    <!-- map -->
    <script src="javascript/map.js"></script>
    <script src="javascript/barGraph.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- css link  -->
    <link rel="stylesheet" type="text/css" href="css/d3.css"/> 
    <link rel="stylesheet" type="text/css" href="css/styles.css"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
  </head> 

  <body>
    <div class="container" id="container">

      <div class="left-sub-container" id="left-container">
        <div class="header" onclick="setTopic(this)" style="cursor:pointer;">
          <h1> UK </h1>
          <h1 style="font-family: 'Trocchi', serif; font-size: 2.5vw;"> REGIONS </h1> 
        </div>

        <div class="button-holder">
          <h2 style="font-size: 2.4vw; text-align: center; margin: 0 0 10px 0;"> DashBoard </h2>
          <ul style="padding: 0; margin: 0;">
            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Education"> Education </br> 
            <i class="fa fa-book" aria-hidden="true"> </i> 
            </li>

            <li onclick="setTopic(this);" style="font-family: 'Trocchi', serif; font-size: 1.3vw;" id="Economy"> Economy </br> 
            <i class="fa fa-line-chart" aria-hidden="true"></i> </i> 
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Crime </br> 
            <i class="fa fa-ban" aria-hidden="true"></i> 
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Transportation </br>
            <i class="fa fa-truck" aria-hidden="true"></i> </i> 
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Social </br> 
            <i class="fa fa-male" aria-hidden="true"></i> <i class="fa fa-female" aria-hidden="true"></i> 
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Population </br> 
            <i class="fa fa-users" aria-hidden="true"></i>
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Employment </br> 
            <i class="fa fa-building-o" aria-hidden="true"></i> 
            </li>

            <li onclick="setTopic(this)" style="font-family: 'Trocchi', serif; font-size: 1.3vw;"> Housing </br> 
            <i class="fa fa-home" aria-hidden="true"></i> </i> 
            </li>
          </ul>
        </div>
      </div>

      <div class="right-sub-container" id="right-container">
        <div id="myNav" class="overlay">
          <div id="drop" align=center></div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav')">&times;</a>
            <div class="overlay-content" id="overlayDisplay">
            </div>
        </div>

        <div class="right-sub-container left" id="right-sub-container-left">
          
        </div>

        <div class ="right-sub-container right" id="right-sub-container-right">
          <label>Your preference:</label>
          <br><br>
          <label>Preference 1</label>
          <select id="p1" >
              <option selected="selected">Crime</option>
              <option>Economy</option>
              <option>Education</option>
              <option>Employment</option>
              <option>Housing</option>
              <option>Population</option>
              <option>Social</option>
          </select>
          <br>
          <label>Preference 2</label>
          <select id="p2" >
              <option>Crime</option>
              <option >Economy</option>
              <option>Education</option>
              <option>Employment</option>
              <option>Housing</option>
              <option>Population</option>
              <option>Social</option>
          </select>
          <br>
          <label>Preference 3</label>
          <select id="p3">
              <option>Crime</option>
              <option>Economy</option>
              <option >Education</option>
              <option>Employment</option>
              <option>Housing</option>
              <option>Population</option>
              <option>Social</option>
          </select>
          <br>
          <input type="button" id="submits" value= "submit"></input>
      <div id="drop2" align=center></div>
        </div>
      </div>
    </div>

    <div class="footer">
    </div>

    <script type="text/javascript" language="javascript">
      var topic = "Crime";
      var socket = io.connect();
      var data;
      
      socket.on('renderMap', function(data2){
        console.log(data2); 
      });

      $(document).ready(function(){
        $("input").click(function() {
          $.ajax({
            type: 'GET',
            url: '/getRating',
            headers : {'Content-Type' : 'application/json'},
            data: JSON.stringify({ID : this.id, p1 : $("#p1").val(), p2: $("#p1").val(), p3: $("#p1").val()}),
            success: function(result){
              console.log(result.aa);
            }
          });
        });
      });

      function setTopic(elmnt){
        //getting onclicked topic
        topic = getTopic(elmnt);
        setWindowSize();
        drawMap("#right-sub-container-left", topic);
        console.log("topic " + topic);
      }
      
      window.onload = function (){
        setWindowSize();
        drawMap("#right-sub-container-left", topic);
      }

      window.onresize = function(){
        console.log(data);
        setWindowSize();
        drawMap("#right-sub-container-left", topic);      
      }
    </script>
  </body>
</html>